*.h filter=rcs-keywords
*.c filter=rcs-keywords
scripts/psmgmt.csh filter=rcs-keywords
scripts/lsf/psm_lsf_wrapper filter=rcs-keywords
scripts/lsf/esub filter=rcs-keywords
scripts/ps_gm filter=rcs-keywords
scripts/psaccview filter=rcs-keywords
scripts/parastation.init.d filter=rcs-keywords
scripts/ps_acc filter=rcs-keywords
scripts/ps_gmcounters filter=rcs-keywords
scripts/psmgmt.sh filter=rcs-keywords
tests/testSteering filter=rcs-keywords
tests/startup_timer filter=rcs-keywords
tests/stressTester filter=rcs-keywords
tests/config.tmpl filter=rcs-keywords
tests/psidKiller filter=rcs-keywords
doc/MessageTypes filter=rcs-keywords
doc/parastation.conf filter=rcs-keywords
