#
#  Configuration file for ParaStation psslurm plugin
#

# Set various soft resources limits (comma separated list, unlimited = -1)
#RLIMITS_SOFT = RLIMIT_CORE=0,RLIMIT_NOFILE=1024

# Set various hard resources limits (comma separated list, unlimited = -1)
#RLIMITS_HARD = RLIMIT_CORE=-1

# Set default membind type (string, values: {none|local}, default: local)
#MEMBIND_DEFAULT = local
