#!/bin/bash

service=psid.service
USE_PSSLURM=$(scontrol show node ${1} |grep psslurm)
[ -z "$USE_PSSLURM" ] && service=slurmd.service

# use logfile=/dev/null to suppress logging
logfile=/var/log/slurm_powersave

echo "Call "${0}" with arguments '"${*}"' at "`date` >> ${logfile}

cmd="sudo /opt/parastation/sbin/psh -n ${1} -D -a /tmp systemctl stop ${service}"
echo executing \"${cmd}\" >> ${logfile}
$cmd >> ${logfile} 2>&1
