#!/bin/bash

service=psid
USE_PSSLURM=$(scontrol show node ${1} |grep psslurm)
[ -z "$USE_PSSLURM" ] && service=slurmd

logfile=/var/log/slurm_powersave

echo -n "Call "${0}" with arguments '"${*}"' at " >> ${logfile}
date >> ${logfile}

cmd="sudo /opt/parastation/sbin/psh -n ${1} -D -a /tmp systemctl stop $service" 
echo executing \"${cmd}\" >> ${logfile}
$cmd >> ${logfile} 2>&1
