#
# ParaStation
#
# Copyright (C) 2003-2004 ParTec AG, Karlsruhe
# Copyright (C) 2005-2021 ParTec Cluster Competence Center GmbH, Munich
#
# This file may be distributed under the terms of the Q Public License
# as defined in the file LICENSE.QPL included in the packaging of this
# file.
#
# Configuration file for ParaStation
#

#
# While the parser is *not* case-sensitive on keywords, names and
# values of environment variables (i.e. such defined within
# env(ironment)) and names and values within a hardware definition
# *are* case-sensitive.
#

#
# Where to find all the ParaStation stuff
# You have to declare this first (default /opt/parastation)
#
# InstallDir	/opt/parastation


#
# Hardware definitions
#


#
# Ethernet configuration
#
Hardware ethernet {
	startscript "config/ps_ethernet start"
	stopscript  "config/ps_ethernet stop"
	headerscript "config/ps_ethernet statusheader"
	statusscript "config/ps_ethernet status"
}

#
# ParaStation 4 base driver
#
Hardware p4sock {
	# IP-ranges for the TCP-Bypass
	# PS_TCP      "192.168.1.2-192.168.1.32 192.168.202.55"
	startscript "config/ps_p4sock start"
	stopscript  "config/ps_p4sock stop"
	headerscript "config/ps_p4sock statusheader"
	statusscript "config/ps_p4sock status"
}

#
# ParaStation / GM driver
#
Hardware gm {
	GM_INSTALLDIR /opt/gm

	startscript "config/ps_gm start"
	stopscript  "config/ps_gm stop"
	headerscript "config/ps_gm statusheader"
	statusscript "config/ps_gm status"
}

#
# ParaStaton / pseudo hardware type to start the accounting daemon
#

Hardware accounter {
	startscript "config/ps_acc start"
	stopscript  "config/ps_acc stop"
	headerscript "config/ps_acc statusheader"
	statusscript "config/ps_acc status"
}

#
# ParaStation / InfiniBand driver based on Mellanox Verbs API
#
Hardware mvapi {
}

#
# ParaStation / InfiniBand driver based on OpenFabrics Verbs API
#
Hardware openib {
}

#
# ParaStation / InfiniPath driver
#
Hardware ipath {
}

#
# Default HW-Type. All nodes have this HW (unless otherwise stated).
# Possible values are names from the Hardware section and 'none'.
# This has to be declared before any Node
#
# You can configure single HW with lines like:
# HWType openib
#
HWType	{ ethernet p4sock }

#
# This script is called during startup of the ParaStation
# daemon. Depending on its return value the daemon continues startup
# without any action (0), some output of the script is written to the
# daemons log (-1) or the daemon stops immediately (-2).
#
# As a default no script is defined and, thus, nothing is called.
#
# startupScript	"scripts/psidStartup"

#
# This script is called by the currently elected master of the
# ParaStation daemons every time a node becomes active from
# ParaStation's point of view. I.e. the node's daemon connects to
# the master daemon for the first time after being down.
#
# This might be used to pass this type of information into a
# batch-system or some monitoring facility like the GridMonitor.
#
# While calling the script two additional arguments are passed within the
# environment:
#
# - NODE_NAME: The hostname of the node that appeared. The actual
# value is the IP address implicitly defined in the Nodes-section of
# this file resolved to the official name of the host using
# getnameinfo().
#
# - NODE_ID: The ParaStation ID of the node that appeared.
#
# As a default no script is defined and, thus, nothing is called.
#
# nodeUpScript	"scripts/psidNodeUp"

#
# This script is called by the currently elected master of the
# ParaStation daemons every time a node goes down from ParaStation's
# point of view. I.e. the node's daemon disconnects from the master
# daemon after being connected.
#
# This might be used to pass this type of information to a
# batch-system or some monitoring facility like the GridMonitor.
#
# While calling the script two additional arguments are passed within the
# environment:
#
# - NODE_NAME: The hostname of the node that disappeared. The actual
# value is the IP address implicitly defined in the Nodes-section of
# this file resolved to the official name of the host using
# getnameinfo().
#
# - NODE_ID: The ParaStation ID of the node that disappeared.
#
# As a default no script is defined and, thus, nothing is called.
#
# nodeDownScript	"scripts/psidNodeDown"

#
# Reserve node for a special user. 'any' allows all users to use the node.
#
# This can also be set during run-time via psiadmin's 'set user' directive.
#
# user	any

#
# Reserve node for a special group. 'any' allows all groups to use the node.
#
# This can also be set during run-time via psiadmin's 'set group' directive.
#
# group	any

#
# (Dis-)Allow to start parallel jobs from all nodes (unless otherwise stated).
#
# This can also be set during run-time via psiadmin's 'set starter' directive.
#
# starter	yes

#
# (Dis-)Allow to run parallel jobs on all nodes (unless otherwise stated).
#
# This can also be set during run-time via psiadmin's 'set runjobs' directive.
#
# runJobs	yes

#
# (Dis-)Allow to overbook all nodes (unless otherwise stated).
#
# This can also be set during run-time via psiadmin's 'set overbook' directive.
#
# overbook	no

#
# Allow any number of processes on all nodes (unless otherwise stated).
#
# This can also be set during run-time via psiadmin's 'set maxproc' directive.
#
# processes	any

#
# Set user's supplementary groups during spawning new tasks. This might lead
# to significant load on YP or LDAP servers unless the name service cache
# daemon (nscd) is used.
#
# This can also be set during run-time via psiadmin's 'set supplementaryGrps'
# directive.
#
# supplGrps	no

#
# Maximum number of tries to stat() an executable before spawning new
# processes. Increasing this number might help on overloaded
# NFS-servers.
#
# This can also be set during run-time via psiadmin's 'set maxStatTry'
# directive.
#
# maxStatTry	1


#
# Enable pinning of process to distinct processor cores
#
# This can also be set during run-time via psiadmin's 'set pinprocs' directive.
#
# pinProcs	yes

#
# Enable binding of process to distinct memory nodes on NUMA systems.
#
# This can also be set during run-time via psiadmin's 'set bindmem' directive.
#
# bindMem	yes

#
# Enable binding of process to GPUs connected to the same NUMA domain
#
# This can also be set during run-time via psiadmin's 'set bindGPUs' directive.
#
# bindGPUs	yes

# Enable binding of process to NICs connected to the same NUMA domain
#
# This can also be set during run-time via psiadmin's 'set bindNICs' directive.
#
# bindNICs	yes

#
# Define map assigning logical process-slots to physical processor cores.
#
# This can also be set during run-time via psiadmin's 'set cpumap' directive.
#
# CPUmap	{ 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 }

#
# Enable users to influence local mapping of processes via providing a
# __PSI_CPUMAP environment.
#
# This can also be set during run-time via psiadmin's 'set allowusermap'
# directive.
#
# allowUserMap	no

#
# Define plugins to load at the startup of the psid daemon.
#
plugins {
	    pspmi	    # provides the PMI interface (needed for MPI2 startup)
#	    psaccount	    # provides advanced accounting
#	    psmom           # pbs_mom replacement (requires psaccount plugin)
}

#
# List of all nodes
#
Nodes {
# Node 0 (on frontend) has no communication-hardware.
# Starting of parallel jobs is allowed but no jobs run here.
	frontend	0 HWtype none runJobs no starter yes
# Node 1 (which is the machine with hostname 'node-1') uses the default values
# for HWType, starter and runJobs which where declared above.
	node-1		1 overbook no
# Don't allow to overbook node 2
	node-2		2 overbook no
# Don't allow the start of parallel jobs from node 3 (on 'node-3').
	node-3		3 starter no
	node-4		4
# Node 5 (on 'node-5') has only Ethernet communication hardware.
	node-5		5 hwtype { ethernet }
# Allow at most 8 processes on nodes 6 but any on node 7
	node-6		6 processes 8
	node-7		7 processes any
# Start the accounting daemon on node 8
	node-8		8 HWtype { ethernet p4sock accounter }
}

#
# Configuration of the ParaStation daemon process (psid)
#
#
# Timeout of the central select() of the daemon
#
# SelectTime		2
#
# The initial logging mask of the daemon
#
# LogMask	0
#
# The destination of the logging output of the daemon. Possible values are:
# LOG_DAEMON, LOG_KERN, LOG_LOCAL[0-7]
#
# LogDestination	LOG_DAEMON
#
#
# Timeout of the RDP status module. After this number of milli-seconds
# a RDP-ping is sent to the master daemon. Additionally, the master
# daemon checks for received ping-messages. Within the daemon, there
# is a lower limit for all timeout-timers of 100 msec. Thus, the
# minimal value here is 100, too.
#
# Only relevant, if MCast is *not* used.
#
# StatusTimeout 2000
#
# Set the maximum number of status broadcasts per round. This is used
# to limit the number of status-broadcasts per status-iteration. Too
# many broadcast might lead to running out of message-buffers within
# RDP on huge clusters.
#
# If more than this number of broadcasts are triggered during one
# status-iteration, all future broadcasts will be ignored. The
# corresponding counter is reset upon start of the next status
# iteration.
#
# A value of 0 will completely suppress sending of
# status-broadcasts. In this case information on dead nodes will be
# propagated by sending ACTIVENODES messages upon receive of too many
# wrong LOAD messages, only.
#
# Only relevant, if MCast is *not* used.
#
# StatusBroadcasts 8
#
# Dead-limit of the RDP status module. After this number of
# consecutively missing RDP-pings the master declares the node to be
# dead. Only relevant, if MCast is *not* used.
#
# DeadLimit 5
#
#
# Use MCast for status control. The default is to *not* use MCast.
#
# UseMCast
#
# The MCast-group to use within the MCast facility of the daemon
#
# MCastGroup	237
#
# The port to use within the MCast facility of the daemon
#
# MCastPort	1889
#
# Daemons are declared dead if this amount of MCast pings are
# missing. Only relevant, if MCast is used.
#
# DeadInterval	10
#
# The port to use within the RDP facility of the daemon
#
# RDPPort	886
#
# The timeout of the actual timer registered by RDP in
# milli-seconds. Each time the corresponding timer is elapsed,
# handleTimeoutRDP() is called handling all resend activities
# necessary. This parameter steers the actual load introduced by RDP.
# Within the daemon, there is a lower limit for all timeout-timers of
# 100 msec. Thus, the minimal value here is 100, too.
#
# RDPTimeout	100
#
# The maximum number of retransmissions within the RDP facility. If
# more than this number of retransmission would have been necessary to
# deliver the packet to the remote destination, this connection is
# declared to be down.
#
# RDPMaxRetrans	32
#
# The resend timeout within the RDP facility in milli-seconds. If a
# pending message is available and not yet acknowledged, this is the
# timeout after which the message is retransmitted to the remote host.
#
# RDPResendTimeout	300
#
# The closed timeout within the RDP facility in milli-seconds. If a
# RDP-connection is closed, during this timeout all messages from the
# corresponding partner are ignored. Thus, reconnection is avoided
# during this period. This helps handling packets still on the wire on
# connection close.
#
# RDPClosedTimeout	2000
#
# The maximum number of pending ACKs within the RDP facility. If this
# number of packets is received from a remote node consecutively
# without any retransmission, an explicit ACK is sent. Otherwise the
# ACK is sent piggyback within the next regular packet to this node or
# as soon as a retransmission occurred.
#
# If set to 1, each RDP packet received is acknowledged by an explicit
# ACK.
#
# RDPMaxACKPending	4
#
# Flag the RDP statistics. If set to 1, statistics on total number of
# messages sent and mean-time to ACK are determined per
# connection. Results can be retrieved via psiadmin's 'list rdp'
# directive.
#
# RDPStatistics	0
#
# Should resources of suspended parallel application be freed
# temporarily? The default is not to free resources. The following
# keyword is used to get them freed.
# Furthermore you can modify the behavior during run-time via psiadmin's
# 'set freeOnSuspend' directive.
#
# freeOnSuspend
#
# Define the default sorting strategy for nodes when attaching them to
# a partition. Possible values are PROC, LOAD1, LOAD5, LOAD15,
# PROC+LOAD or NONE.
# This only comes into play, if the user does not define a sorting
# strategy explicitely via PSI_NODES_SORT. Be aware of the fact the
# using a batch-system like PBS or LSF *will* set the strategy
# explicitely, namely to NONE.
# Furthermore you can modify the behavior during run-time via psiadmin's
# 'set nodesSort' directive.
#
# PSINodesSort proc
#
# Unexpectedly dying relatives (i.e. the parent process or any child
# process) of a process will lead to a signal to be sent to the
# process. The processes is expected to finalize after receiving such
# signal. In order to enforce this, a SIGKILL signal is sent with some
# delay. This sets the corresponding intervall in seconds. If set to
# 0, no SIGKILL at all will be sent.
#
# killDelay 10
#
# Set the resource limit 'core' for the daemon process and all its
# children to the given value. If set to 0, no core-dumps will be
# created at all. If set to 'unlimited', there will be no restriction
# on the size of core-dump files. The default is to not touch the
# resource limit.
#
# RLimit Core unlimited
#

# Set the current working directory of the daemon process. This
# directory will be used to store core-dumps in the un-probable case of
# segmentation faults within the daemon. This option is mostly for
# debugging purposes.
# If 'coreDirectory' is explicitely set and 'RLimit Core' was not set
# before within this file, 'RLimit Core' is set to 'unlimited'.
#
# coreDirectory /tmp
#
